/* CSS Style for desktops > 1200px */
body {
    font-size: 14px;
}
#wrapper {
    width: 1140px;
    margin: 0 auto;
    background: #8F9CAC;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 10px #696969;
}
#mainHeader {
    height: 90px;
    background-color: #8F9CAC;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px 10px;
}
#mainLogo {
    width: 20%;
    float: left;
    margin-top: 10px;
}

#emigrant-uni-logo {
	width: 200px;
}

#mainNav {
    width: 80%;
    float: right;
    font-size: 16px;
    vertical-align: bottom;
}

/* Navigation menu behaviour - start */
nav ul ul {
	display: none;
}
	nav ul li:hover > ul {
		display: block;
	}
nav ul {
	background: #efefef;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;	
	}
nav ul li {
	float: left;
}
	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}
		nav ul li:hover a {
			color: #fff;
		}
nav ul li a {
	display: block; padding: 15px 20px;
	color: #757575; text-decoration: none;
}
nav ul ul {
	background: #5f6975; border-radius: 0px; padding 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none;
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}
			nav ul ul li a:hover {
				background: #4b545f;
			}
/* Navigation menu behaviour - end */

#mainSection {
    background: #D9D9D9;
	     
    border-radius: 10px;
    padding: 10px 10px;
}

#searchSection {
    background: #ffffff;

    border-radius: 10px;
    padding: 10px 10px;
}

#mainFooter {
    background: #8F9CAC;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

#searchBox {
    float: right;
    background-color: #8F9CAC;
    margin-right: 80px;
    border: 0;
}

#searchField, button{
    background-color: #D9D9D9;
    border: 0;
    border-radius: 5px;
}

#searchField:focus {
    background-color: #D9D9D9;
}

#cursing {
    margin-left: 20px;
    color: #576169;
}

#waitingGif {
    vertical-align: bottom;
    margin-left: 20px;
    width: 40px;
    height: 40px;
}

#quote {
    font-style: italic;
    font-size: 16pt;
    margin-left: 500px;
    color: #cd3500;
}

#satsumaMission {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-top: 2px;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 5px 5px 5px #696969;
}

#competitorsImage
{
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 10px;
    margin-left: 15px;
    border-radius: 20px;
    opacity: 0.9;
    box-shadow: 0px 0px 15px #373737;
}

#footerLink, h2 {
    color: #912900;
}